# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
[Bb]in/
[Oo]bj/

# Rider / ReSharper
.idea/
_ReSharper*/
*.sln.iml

# NuGet
packages/
*.nupkg
*.snupkg

# Logs
*.log

# Test results
TestResults/
*.trx

# OS
.DS_Store
Thumbs.db

# ASP.NET
appsettings.Development.json

# MAUI / Android signing
*.keystore
*.pfx